_developing/
geno2pheno_input_test/
env_Test/
results/
main_test/
data/
dev_bin/
snakemake_Test/
.smk_backup/
tmp/
pre_bwa.bam
tmp/CH2500/bwa.sorted.bam
smk/test.bam
ancrec_test/
diffXpr_test/
seq2geno_temp/
bwa_test/
vcf_test/
rename_rg_test/
consensus_test/
.snakemake/
.ori_backup/
.dag/

