[submodule "lib/jvarkit"]
  path = denovo/lib/jvarkit/
  url = https://github.com/lindenb/jvarkit.git
[submodule "lib/roary-3.8.2"]
  path = denovo/lib/Roary/ 
  url = https://github.com/hzi-bifo/Roary.git
